@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;400&display=swap');
:root {
  --BE-bg-color: rgb(6, 17, 1);
  --BE-bg-border: 1px solid green;
  --BE-bg-border-shadow: 0 0 5px 0.5px rgba(0, 128, 0, 0.668);
  --BE-color: rgb(1, 186, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

@font-face {
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/terminal_copy.ttf);
  font-family: 'Terminal';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    /* text-shadow:
      0.5px 0.5px 0 rgba(0, 20, 12, 0.5),
      -0.5px -2px 1px rgba(124, 255, 220, 0.289); */
  }

  50% {
    background-position: 100% 50%;
    /* text-shadow:
      0.5px 0.5px 0 rgba(14, 0, 20, 0.5),
      -0.5px -1px 1px rgba(241, 169, 255, 0.534); */
  }

  100% {
    background-position: 0% 50%;
    /* text-shadow:
      0.5px 0.5px 0 rgba(0, 20, 20, 0.5),
      -0.5px -2px 1px rgba(108, 253, 251, 0.289); */
  }
}

@keyframes FETitleGradient {
  0% {
    text-shadow:
      0 0 2px #ff4ad8,
      0 0 10px #ff4ad8,
      0 0 20px #ff4ad8,
      0 0 40px #ff4ad8;
  }

  50% {
    text-shadow:
      0 0 2px rgb(0, 255, 187),
      0 0 10px rgb(0, 255, 187),
      0 0 20px rgb(0, 255, 187),
      0 0 40px rgb(0, 255, 187);
  }

  100% {
    text-shadow:
      0 0 2px rgb(0, 123, 255),
      0 0 10px rgb(0, 123, 255),
      0 0 20px rgb(0, 123, 255),
      0 0 40px rgb(0, 123, 255);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.29861;
  }
  5% {
    opacity: 0.30769;
  }
  10% {
    opacity: 0.29604;
  }
  15% {
    opacity: 0.30626;
  }
  20% {
    opacity: 0.28128;
  }
  25% {
    opacity: 0.33891;
  }
  30% {
    opacity: 0.35583;
  }
  35% {
    opacity: 0.37807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.34693;
  }
  50% {
    opacity: 0.36019;
  }
  55% {
    opacity: 0.28594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.31988;
  }
  70% {
    opacity: 0.33455;
  }
  75% {
    opacity: 0.27288;
  }
  80% {
    opacity: 0.31428;
  }
  85% {
    opacity: 0.30419;
  }
  90% {
    opacity: 0.3003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px rgba(0, 30, 125, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px rgba(0, 30, 125, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px rgba(0, 30, 125, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px rgba(0, 30, 125, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  20% {
    text-shadow:
      2.4794037899852017px 0 1px rgba(0, 30, 125, 0.5),
      -2.4794037899852017px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px rgba(0, 30, 125, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px rgba(0, 30, 125, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  35% {
    text-shadow:
      2.496914047650351px 0 1px rgba(0, 30, 125, 0.5),
      -2.496914047650351px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  40% {
    text-shadow:
      2.470905614848819px 0 1px rgba(0, 30, 125, 0.5),
      -2.470905614848819px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px rgba(0, 30, 125, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px rgba(0, 30, 125, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px rgba(0, 30, 125, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px rgba(0, 30, 125, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.4638780614874975px 0 1px rgba(0, 30, 125, 0.5),
      -2.4638780614874975px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px rgba(0, 30, 125, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.4948491305757957px 0 1px rgba(0, 30, 125, 0.5),
      -1.4948491305757957px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px rgba(0, 30, 125, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px rgba(0, 30, 125, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  90% {
    text-shadow:
      2.443339761481782px 0 1px rgba(0, 30, 125, 0.5),
      -2.443339761481782px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px rgba(0, 30, 125, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px rgba(0, 30, 125, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
}

@keyframes dividerSlideLeft {
  100% {
    box-shadow: -1000px 0 1000px 1000px var(--BE-bg-color);
  }
}

@keyframes dividerSlideRight {
  100% {
    box-shadow: 1000px 0 1000px 800px var(--BE-bg-color);
  }
}

@keyframes flickerLoad {
  0% {
    opacity: 0.8;
  }
  0.5% {
    opacity: 0.9;
  }
  1.0% {
    opacity: 1;
  }
  1.5% {
    opacity: 0.8;
  }
  2.5% {
    opacity: 0.9;
  }
  3.0% {
    opacity: 1;
  }
  3.5% {
    opacity: 0.8;
  }
  10.0% {
    opacity: 1;
  }
}

@keyframes crtLine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60vh);
  }
}

@keyframes loadingAnim {
  0% {
    border-radius: 100%;
    box-shadow:
      0 0 5px green,
      -15px -1px 100px hotpink;
  }
  15% {
    border-top-left-radius: 70%;
    box-shadow:
      0 0 5px green,
      -15px -1px 100px hotpink;
  }
  25% {
    border-radius: 100%;
    border-bottom-right-radius: 80%;
    box-shadow:
      5px 5px 5px green,
      0 0 100px rgb(255, 162, 0);
  }
  40% {
    border-bottom-left-radius: 80%;
    box-shadow:
      5px 5px 5px green,
      0 0 100px rgb(255, 162, 0);
  }
  50% {
    border-radius: 100%;
    border-top-right-radius: 70%;
    box-shadow:
      -5px -5px 5px green,
      0 0 100px rgb(105, 255, 218);
  }
  65% {
    border-top-right-radius: 70%;
    box-shadow:
      -5px -5px 5px green,
      0 0 100px rgb(105, 255, 218);
  }
  75% {
    border-radius: 100%;
    border-bottom-left-radius: 60%;
    box-shadow:
      0 0 5px green,
      -15px -1px 100px rgb(4, 0, 255);
  }
  90% {
    border-top-right-radius: 70%;
    box-shadow:
      0 0 5px green,
      -15px -1px 100px rgb(4, 0, 255);
  }
  100% {
    border-radius: 100%;
    box-shadow:
      0 0 5px green,
      -15px -1px 100px hotpink;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(105%);
  }
  100% {
    transform: translateX(-105%);
  }
}
