@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cormorant+Unicase:wght@300&family=Faustina:wght@300&family=Jacques+Francois+Shadow&family=Montserrat:wght@100;300;500;800&family=Raleway:wght@200;800&family=Tourney&display=swap');

:root {
  --BE-bg-color: rgb(6, 17, 1);
  --BE-bg-border: 1px solid green;
  --BE-bg-border-shadow: 0 0 5px 0.5px rgba(0, 128, 0, 0.668);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

@font-face {
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/terminal_copy.ttf);
  font-family: 'Terminal';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    /* color: #23d5ab; */
  }

  50% {
    background-position: 100% 50%;
    /* color: #e73c7e; */
  }

  100% {
    background-position: 0% 50%;
    /* color: #23a6d5; */
  }
}

@keyframes flicker {
  0% {
    opacity: 0.29861;
  }
  5% {
    opacity: 0.30769;
  }
  10% {
    opacity: 0.29604;
  }
  15% {
    opacity: 0.30626;
  }
  20% {
    opacity: 0.28128;
  }
  25% {
    opacity: 0.33891;
  }
  30% {
    opacity: 0.35583;
  }
  35% {
    opacity: 0.37807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.34693;
  }
  50% {
    opacity: 0.36019;
  }
  55% {
    opacity: 0.28594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.31988;
  }
  70% {
    opacity: 0.33455;
  }
  75% {
    opacity: 0.27288;
  }
  80% {
    opacity: 0.31428;
  }
  85% {
    opacity: 0.30419;
  }
  90% {
    opacity: 0.3003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px rgba(0, 30, 125, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px rgba(0, 30, 125, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px rgba(0, 30, 125, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px rgba(0, 30, 125, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  20% {
    text-shadow:
      2.4794037899852017px 0 1px rgba(0, 30, 125, 0.5),
      -2.4794037899852017px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px rgba(0, 30, 125, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px rgba(0, 30, 125, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  35% {
    text-shadow:
      2.496914047650351px 0 1px rgba(0, 30, 125, 0.5),
      -2.496914047650351px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  40% {
    text-shadow:
      2.470905614848819px 0 1px rgba(0, 30, 125, 0.5),
      -2.470905614848819px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px rgba(0, 30, 125, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px rgba(0, 30, 125, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px rgba(0, 30, 125, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px rgba(0, 30, 125, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.4638780614874975px 0 1px rgba(0, 30, 125, 0.5),
      -2.4638780614874975px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px rgba(0, 30, 125, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.4948491305757957px 0 1px rgba(0, 30, 125, 0.5),
      -1.4948491305757957px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px rgba(0, 30, 125, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px rgba(0, 30, 125, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  90% {
    text-shadow:
      2.443339761481782px 0 1px rgba(0, 30, 125, 0.5),
      -2.443339761481782px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px rgba(0, 30, 125, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px rgba(0, 30, 125, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 30, 0.3),
      0 0 3px;
  }
}

@keyframes dividerSlideLeft {
  100% {
    box-shadow: -1000px 0 1000px 1000px rgb(4, 18, 3);
  }
}

@keyframes dividerSlideRight {
  100% {
    box-shadow: 1000px 0 1000px 800px rgb(4, 18, 3);
  }
}

@keyframes flickerLoad {
  0% {
    opacity: 0.8;
  }
  0.5% {
    opacity: 0.9;
  }
  1.0% {
    opacity: 1;
  }
  1.5% {
    opacity: 0.8;
  }
  2.5% {
    opacity: 0.9;
  }
  3.0% {
    opacity: 1;
  }
  3.5% {
    opacity: 0.8;
  }
  10.0% {
    opacity: 1;
  }
}

@keyframes crtLine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60vh);
  }
}
